<h2>Current and Past Affiliations</h2>

<div class="affiliations">
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/eurecom_logo.jpg" class="card">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/osl_logo.png" class="card">
        </div>
    </div>

    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/graph_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/sosy_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/lmu_logo.jpg" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/iguru_logo.jpeg" class="card">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/simply_logo.jpeg" class="card" style="width: 100px;">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/cic_logo.png" class="card">
        </div>
    </div>
</div>